@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./global/header.css";
@import "./utilidades/componentes.css";
/* Home */
@import "./home/introducao.css";
@import "./utilidades/cores.css";
